{% extends 'admin/base_admin.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <div class="row">
        {% block admin_sidebar %}{{ parent() }}{% endblock %}
        <div class="col">
            <h1>Créer un utilisateur</h1>

            {{ include('admin/users/_form.html.twig') }}

            <a href="/admin/users">Retour à la liste de produits</a>
        </div>
    </div>



{% endblock %}
