{% extends 'admin/base_admin.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <div class="row">
        {% block admin_sidebar %}{{ parent() }}{% endblock %}
        <div class="col text-center">
            <a href="{{ path('users_index') }}" class="d-flex justify-self-start">
                <button class="btn btn-primary mt-2">Retour à la liste</button>
            </a>
            <h1>Créer un nouvel utilisateur</h1>
            <div class="bg-light admin-edit-container text-center col-lg-4 col-md-6 col-sm-10 mx-auto mt-3 d-flex flex-column align-items-center">
                {{ include('admin/users/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
