#sidebar {
    height: 100vh;
    background: #2d2c36;
    /*background: #a3a6b6;*/
    /*border-right: Solid 1px #2d2c36;*/
}

/*body {*/
/*    background: white;*/
/*}*/
#sidebar * {
    color: white;
}

.admin_cards {
    width: 400px;
    background: white;
}

#admin_graph_products {
    width: 700px !important;
    height: auto !important;
    background: white;
}

.nav-link, .nav-link:hover {
    color: black;
}

.nav > li:first-child {
    border-bottom: solid white 1px;
}

#backhome-icon {
    font-size: 25px;
}

.admin-edit-container {
    box-shadow: 0 10px 10px #54565f;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    color: #2d2c36;
    background: #C3C5D2;
}

