#sidebar {
    background: #2d2c36;
    min-height: 100vh;
}

#sidebar * {
    color: white;
}

.admin_cards {
    width: 400px;
    background: white;
}

#admin_graph_products {
    width: 700px !important;
    height: auto !important;
    background: white;
}

.nav-link, .nav-link:hover {
    color: black;
}

.nav > li:first-child {
    border-bottom: solid white 1px;
}

#backhome-icon {
    font-size: 25px;
}

.admin-edit-container {
    box-shadow: 0 10px 10px #54565f;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    color: #2d2c36;
    background: #C3C5D2;
}

.dashboard_column_admin_role {
    background: #d2a158;
    color: white;
}

.dashboard_column_out_of_stock {
    background: #d25858;
    color: white;
}



/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #2d2c36;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

@media only screen and (max-width : 992px) {
    #sidebar {
        min-height: inherit;
    }

    #sidebar > div > a:last-child {
        background: #a3a6b6;
    }

    #admin_graph_products {
        width: 90vw !important;
    }

}

