#sidebar {
    background: #2d2c36;
    min-height: 100vh;
}

#sidebar * {
    color: white;
}

.admin_cards {
    width: 400px;
    background: white;
}

#admin_graph_products {
    width: 700px !important;
    height: auto !important;
    background: white;
}

.nav-link, .nav-link:hover {
    color: black;
}

.nav > li:first-child {
    border-bottom: solid white 1px;
}

#backhome-icon {
    font-size: 25px;
}

.admin-edit-container {
    box-shadow: 0 10px 10px #54565f;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    color: #2d2c36;
    background: #C3C5D2;
}

.dashboard_column_admin_role {
    background: #d2a158;
    color: white;
}

.dashboard_column_out_of_stock {
    background: #d25858;
    color: white;
}

