@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
header {
    background: #2d2c36;
    text-align: center;
    box-shadow: 0 10px 10px #54565f;
    height: 6em;
}

header h1 {
    font-family: 'Lobster', cursive;
    /*font-family: 'Pacifico', cursive;*/
    font-size: 4em;
    color: #b88a15;
    padding-bottom: 0.15em;
}

header li {
    padding-inline: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
}

header a {
    text-decoration: none;
    color: #666b82;
}

header a:hover {
    color: #b88a15;
}

header ul {
    width: 100%;
    height: min-content;
}


@media only screen and (max-width:992px) {
    header {
        height: inherit;
    }
}
