@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
header {
    background: #2d2c36;
    text-align: center;
    box-shadow: 0 10px 10px #54565f;
    height: 6em;
}

header h1 {
    font-family: 'Lobster', cursive;
    /*font-family: 'Pacifico', cursive;*/
    font-size: 4em;
    color: #b88a15;
    padding-bottom: 0.15em;
}

header li:not(:last-child) {
    padding-inline: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
}

header a {
    text-decoration: none;
    color: #666b82;
}

header a:hover {
    color: #b88a15;
}

header ul {
    height: 100%;
    padding-bottom: 0;
}

header ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li:not(:last-child) {
    padding-bottom: 0.6em;
}

#minicart {
    height: 100%;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*cart poppin*/
#cart-popin {
    background: white;
    width: 350px;
    position: absolute;
    z-index: 2;
    right: 0;
    text-align: center;
    top: 96px;
}

#cart-popin h3 {
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
}

.product_cart_popin_img {
    width: 100px;
}

#product_cart_popin_bottom {
    border-top: solid #e0e0e0 2px;
}

@media only screen and (max-width:991px) {
    header {
        height: inherit;
    }

    #cart-popin {
        top: 13.1em;;
    }

    #minicart {
        height: 100%;
        padding-bottom: 1em;
        padding-right: 1em;
    }
}
