
#img_product_container {
    width: 250px;
}

#home_informations {
    box-shadow: 0 10px 10px #54565f;
    color: #2d2c36;
    background: #b88a15;
}

.productsImage{
    height: 30vh;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#products_card_container {
    padding-inline: 5em;
}